{% block content %} 
	<h2>Tables</h2>     
		<table>
			<tr>
				<td>row1 col1</td>
				<td>row1 col2</td>
				<td>row1 col3</td>
			</tr>
			<tr>
				<td>row2 col1</td>
				<td>row2 col2</td>
				<td>row2 col3</td>
			</tr>
			<tr>
				<td>row3 col1</td>
				<td>row3 col2</td>
				<td>row3 col3</td>
			</tr>
		</table>
		<br />
		<p>Table with Headings</p>
		<!--Use scope to tell it's a heading for a row or column. -->
		<table>
			<tr>
				<th></th>
				<th scope="col">Ali</th>
				<th scope="col">Hassan</th>
			</tr>
			<tr>
				<th scope="row">Score</th>
				<td>123</td>
				<td>345</td>
			</tr>
			<tr>
				<th scope="row">Age</th>
				<td>23</td>
				<td>12</td>
			</tr>
		</table>
		<br />
		<p>Table with Colspan</p>
		<table>
			<tr>
				<th></th>
				<th scope="col">9am</th>
				<th scope="col">10am</th>
				<th scope="col">11am</th>
			</tr>
			<tr>
				<th scope="row">Saturday</th>
				<td>Math</td>
				<td colspan="2">Physics</td>
			</tr>
			<tr>
				<th scope="row">Sunday</th>
				<td colspan="3">Free Time!</td>
			</tr>
		</table>
		<br />
		<p>Table with Rowspan</p>
		<table>
			<tr>
				<th></th>
				<th scope="col">ABC</th>
				<th scope="col">NBC</th>
				<th scope="col">CNN</th>
			</tr>
			<tr>
				<th scope="row">6pm - 7pm</th>
				<td rowspan="2">Movie</td>
				<td>Comedy</td>
				<td>News</td>

			</tr>
			<tr>
				<th scope="row">7pm - 8pm</th>
				<td>Sports</td>
				<td>Current Affairs</td>
			</tr>
		</table>
		<br />
		<p>Long Tables</p>
		<table>
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Income</th>
					<th scope="col">Expenditure</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1st</th>
					<td>157</td>
					<td>145</td>
				</tr>
				<tr>
					<th scope="row">2nd</th>
					<td>234</td>
					<td>123</td>
				</tr>
				<tr>
					<th scope="row">3rd</th>
					<td>456</td>
					<td>345</td>
				</tr>
				<tr>
					<th scope="row">4th</th>
					<td>675</td>
					<td>345</td>
				</tr>
				<tr>
					<th scope="row">5th</th>
					<td>567</td>
					<td>324</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th scope="row">Total</th>
					<td>2343</td>
					<td>1232</td>
				</tr>
			</tfoot>
		</table>
{% endblock %}